@charset "UTF-8";

/* MOBILE FIRST */

header , header > nav{ /* cabeçalho e menu */
    flex-flow: column nowrap;
}

header > h1 { /* titulo do cabeçalho */
    flex-basis: 50px; /* base flexivel */
}

header > nav > a { /* links do menu do cabeçalho */
    width: 90vw; /* 90% da largura total da tela */
}
