@charset "UTF-8";

*{ /* config global p/ pag toda */
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{ /* corpo do site */
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1em; /* tamanho da fonte */
    background-color: lightgray;
    height: 100vh; /* altura da tela */
    width: 100vw;  /* largura da tela */
}

header{ /* cabeçalho do site */
    background-color: grey;
    color: white;
    padding: 10px;

    display: flex; /* exibição flexivel */
    flex-flow: row wrap; /* linha com quebra */
    justify-content: space-between; /* justificar conteúdo , espaço entre */
    align-items: center;
}

header > h1 { /* titulo do cabeçalho */
    /* border: 1px dotted black; */
    flex: 0 0 200px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.696);
}

header > nav > a { /* configurando link do menu dentro do cabeçalho */
    background-color: black;
    color: white;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
}

header > nav > a:hover { /* qnd passar cursor em cima do menu */
    background-color: white;
    color: black;
    transition: background-color .5s; /* tempo de transação ao passar cursor */
}

nav { /* barra de navegação do site(menu) */
    /* border: 1px dotted black; */

    display: flex; /* conteiner flexivel */
    flex-flow: row wrap; /* linha com quebra */
    justify-content: flex-end; /* justificar conteúdo , grudar no final ao quebrar */
}

main { /* conteúdo principal do site */
    background-color: white;
    margin: 10px;
    padding: 10px;
    border-radius: 10px; /* borda arredondada */
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.285); /* sombra de caixa */
}

main > h2 { /* subtitulo do conteudo principal */
    text-align: center;
    padding: 10px 10px;
    background-color: rgba(12, 12, 12, 0.404);
    color: white;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.619);
}

main > p { /* paragrafo do conteudo principal */
    text-align: justify; /* texto justificado */
    text-indent: 30px;  /* espaço no inicio do paragrafo */
    padding-top: 10px;
}