@charset "UTF-8"; 

 /* declarações gerais */
 *{
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html , body {
    width: 100vw; /* LARGURA DA TELA */
    height: 100vh; /* ALTURA */
    background-color: #233eff;
    background-size: contain; /* TAMANHO DE FUNDO , CONTER A TELA TODA */
    background-repeat: no-repeat; /* NÃO REPETIR IMAGEM DE FUNDO */
}

h1 {
    color: white;
    text-shadow: 2px 2px 0px #13207e; /* SOMBRA DE TEXTO */
    padding: 10px; /* ESPAÇAMENTO */
}
/* declarações retrato */
@media screen and (orientation: portrait){
    body{
        background-image: url(../imagens/cev-portrait.jpg);  /* IMAGEM DE FUNDO , + IMAGEM BAIXADA PERSONALIZADA */  
        background-position: center bottom; /* POSIÇÃO DE FUNDO , CENTRO E INFERIOR(baixo) */
    }
}
/* declarações paisagem */
@media screen and (orientation: landscape){
    body{
        background-image: url(../imagens/cev-landscape.jpg); /* IMAGEM DE FUNDO , IMAGEM BAIXADA PERSONALIZADA */
        background-position: left bottom; /* POSIÇÃO DE FUNDO ,  ESQUERDA E INFERIOR(baixo) */
    }
}
